@model PartialViewInMVC.Models.Product
@{
	ViewData["Title"] = "Details";
}
<div>
	<h4>Product Details</h4>
	<table>
    <tr>
        <th>
			Product ID
		</th>
		<th>
			Name
		</th>
		<th>
			Category
		</th>
		<th>
			Description
		</th>
		<th>
			Price
		</th>
    </tr>
		@await Html.PartialAsync("_ProductDetails", Model)
</table>
</div>
