@model IEnumerable<PartialViewInMVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h4>Product List</h4>

<table class="table">
    <tr>
        <th>
            ProductID
        </th>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </tr>
    <h1>Using PartialAsync</h1>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_ProductDetails", item)
    }
    <h1>Using Html Helper</h1>
    @foreach (var item in Model)
    {
        @Html.Partial("_ProductDetails", item)
    }
    @foreach (var product in Model)
    {
        <partial name="_ProductDetails" model="product" />
    }
</table>